.form__input {
  /* display: block; */
}

label {
  /* display: block; */
}

.fieldset-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.socialmedia-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  /* max-width: 100px; */
}

.i {
  margin: 20px;
  size: 50px;
}

/* 
input,
label {
  margin: 0.4rem;
} */
