.form__input {
  display: block;
}

label {
  display: block;
  font: 1rem ´Fira Sans´, sans-serif;
}

input,
label {
  margin: 0.4rem;
}

@media (min-width: 40em) {
  nav {
    grid-row: span 2;
    display: block;
    position: static;
    text-align: center;
  }
  .hamburger-icon {
    display: none;
  }
  nav a {
    display: inline-block;
  }
}
