html,
body {
  font-family: "Roboto", sans-serif;
  background: #393d59;
  color: #f6fbf4;
}

header,
footer {
  background: #242424;
  padding: 1em;
  color: #f6fbf4;
}

nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

nav {
  background: #242424;
  position: absolute;
  left: 0px;
}

nav a {
  display: block;
  color: #f6fbf4;
  padding: 0.5em;
  font-size: 1.2rem;
}

@media (min-width: 40em) {
  body {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  header {
    grid-column: span 2;
  }
  nav {
    grid-row: span 2;
    display: block;
    position: static;
    text-align: center;
  }
  .hamburger-icon {
    display: none;
  }
  nav a {
    display: inline-block;
  }
}
