.news-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.product {
  flex: 1;
  max-width: 170px;
  box-shadow: 5px 5px 2px 0px #242424;
}
