.homelogo {
  max-width: 90%;
  object-fit: scale-down;
  object-position: bottom;
}

@media (min-width: 40em) {
  body {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  header {
    grid-column: span 2;
  }
  nav {
    grid-row: span 2;
    display: block;
    position: static;
    text-align: center;
  }
  .hamburger-icon {
    display: none;
  }
  nav a {
    display: inline-block;
  }
}
