.game-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 40px;
}

.product {
  max-width: 1200px;
  margin-bottom: 0;
  flex: 1;
  max-width: 170px;
  box-shadow: 1px 0px 2px 2px #242424;
}

.product:hover {
  opacity: 0.7;
}

.form__input {
  display: block;
}

.productbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
  color: #f6fbf4;
  max-width: 170px;
  background-color: #282b3e;
  box-shadow: 0px 4px 10px 3px #242424;
  border-radius: 0px 0px 10px 10px;
}
