html,
body {
  font-family: "Source Code Pro", monospace;
  background: #393d59;
  color: #f6fbf4;
}

header {
  background: #242424;
  position: relative;
  padding: 10px;
  font-size: 1.5rem;
}

.game-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.product {
  margin: 5px;
  flex: 1;
  max-width: 170px;
}

footer {
  background: #242424;
  padding: 1em;
  color: #f6fbf4;
}

nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

nav {
  background: #242424;
  position: absolute;
  left: 0px;
}

nav a {
  display: block;
  color: #f6fbf4;
  padding: 0.5em;
  font-size: 1.2rem;
}

.form__input {
  display: block;
}

h1 {
  text-align: center;
  text-decoration: solid;
  font-size: 3em;
  margin: 0.5em;
}

@media (min-width: 40em) {
  body {
  }
  header {
  }
  nav {
    display: block;
    position: static;
    text-align: center;
  }
  .hamburger-icon {
    display: none;
  }
  nav a {
    display: inline-block;
  }
}
